@use './common/var.scss';

.fan-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--fan-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: 500;
  user-select: none;
  vertical-align: middle;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 4px;
  background-color: var(--fan-button-bg-color);
  border: 1px solid var(--fan-button-border-color);

  &:hover,
  &:focus {
    color: var(--fan-button-text-color);
    border-color: var(--fan-primary-hover-color);
    background-color: var(--fan-button-hover-bg-color, #f5f7fa);
  }

  & [class*='fan-icon-'] {
    & + span {
      margin-left: 6px;
    }
  }

  // 按钮类型
  @each $type in ('primary', 'success', 'warning', 'danger', 'info') {
    &--#{$type} {
      color: var(--fan-white);
      background-color: var(--fan-#{$type}-color);
      border-color: var(--fan-#{$type}-color);

      &:hover,
      &:focus {
        color: var(--fan-white);
        background-color: var(--fan-#{$type}-hover-color);
        border-color: var(--fan-#{$type}-hover-color);
      }

      &.is-plain {
        color: var(--fan-#{$type}-color);
        background-color: var(--fan-#{$type}-light-color);
        border-color: var(--fan-#{$type}-light-color);

        &:hover,
        &:focus {
          background-color: var(--fan-#{$type}-color);
          border-color: var(--fan-#{$type}-color);
          color: var(--fan-white);
        }
      }
    }
  }

  // 按钮尺寸
  &--medium {
    height: 36px;
    padding: 10px 20px;
    font-size: 14px;
  }

  &--small {
    height: 24px;
    padding: 5px 11px;
    font-size: 12px;
  }

  &--mini {
    height: 20px;
    padding: 4px 7px;
    font-size: 12px;
  }

  // 圆角按钮
  &.is-round {
    border-radius: 20px;
  }

  // 圆形按钮
  &.is-circle {
    border-radius: 50%;
    padding: 8px;
  }

  // 禁用状态
  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  // 加载状态
  &.is-loading {
    position: relative;
    pointer-events: none;

    &:before {
      pointer-events: none;
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: inherit;
      background-color: rgba(255, 255, 255, 0.35);
    }
  }

  .fan-icon-loading {
    animation: rotating 2s linear infinite;
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
} 